<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.albertxavier.workflows.quickcommand</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1AFB7AE2-DEA2-4952-B39E-00D7FF39432D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F0E9A87-6764-4DAC-A7BD-BA281957E604</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE296E17-A627-4538-B2B0-B1828AA32644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>467FF642-6E14-438E-931F-569F0C9155EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D54061-ADEC-4937-BAC3-AC02F942790D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>67E84155-DBB1-4210-B277-D6AB78D0D3A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D520D970-11BD-4C9B-A56C-E579C7480972</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>99F7A6A4-B860-4D97-B7C3-6B39EC14075D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE296E17-A627-4538-B2B0-B1828AA32644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BAFA144D-867F-47BF-ACA2-736991B3363B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AFB7AE2-DEA2-4952-B39E-00D7FF39432D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D520D970-11BD-4C9B-A56C-E579C7480972</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE296E17-A627-4538-B2B0-B1828AA32644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D8D54061-ADEC-4937-BAC3-AC02F942790D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE296E17-A627-4538-B2B0-B1828AA32644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F3E25629-B5F0-4229-B1A4-4B9C72B985F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99F7A6A4-B860-4D97-B7C3-6B39EC14075D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>albertxavier</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>quick command</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python quick_command.py --output --command "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AFB7AE2-DEA2-4952-B39E-00D7FF39432D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1F0E9A87-6764-4DAC-A7BD-BA281957E604</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qccopy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>running...</string>
				<key>script</key>
				<string>python quick_command.py --input --query "{query}"</string>
				<key>title</key>
				<string>quick copy command</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BAFA144D-867F-47BF-ACA2-736991B3363B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qcadd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>running...</string>
				<key>script</key>
				<string>python quick_command.py --input_add_command --query "{query}"</string>
				<key>title</key>
				<string>Add new command</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>467FF642-6E14-438E-931F-569F0C9155EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python quick_command.py --add_command --query "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8D54061-ADEC-4937-BAC3-AC02F942790D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Command copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE296E17-A627-4538-B2B0-B1828AA32644</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qcdel</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>running...</string>
				<key>script</key>
				<string>python quick_command.py --input_del_command --query "{query}"</string>
				<key>title</key>
				<string>Delete some command</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3E25629-B5F0-4229-B1A4-4B9C72B985F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python quick_command.py --del_command --query "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99F7A6A4-B860-4D97-B7C3-6B39EC14075D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>qcrun</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>running...</string>
				<key>script</key>
				<string>python quick_command.py --input --query "{query}" --input_direct_run</string>
				<key>title</key>
				<string>quick run command</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67E84155-DBB1-4210-B277-D6AB78D0D3A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python quick_command.py --direct_run --query "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D520D970-11BD-4C9B-A56C-E579C7480972</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1AFB7AE2-DEA2-4952-B39E-00D7FF39432D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1F0E9A87-6764-4DAC-A7BD-BA281957E604</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>467FF642-6E14-438E-931F-569F0C9155EC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>67E84155-DBB1-4210-B277-D6AB78D0D3A9</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>99F7A6A4-B860-4D97-B7C3-6B39EC14075D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BAFA144D-867F-47BF-ACA2-736991B3363B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CE296E17-A627-4538-B2B0-B1828AA32644</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D520D970-11BD-4C9B-A56C-E579C7480972</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D8D54061-ADEC-4937-BAC3-AC02F942790D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F3E25629-B5F0-4229-B1A4-4B9C72B985F0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/albertxavier001</string>
</dict>
</plist>
